{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {erlware_commons, "1.6.0"},
  {hackney, "1.17.4"},
  {jiffy, "1.0.8"}
]}.

{project_plugins, [erlfmt]}.

{relx, [{release, {rssfollow, "0.1.0"},
         [rssfollow,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config_src, "./config/sys.config.src"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.

{erlfmt, [
    {files, "{apps,config}/**/*.{hrl,erl,app.src}"},
    {print_width, 80},
    {exclude_files, ["apps/dnssd/**/*"]}]}.

